/*-------------------HACKATHON PATH-------------------------------------*/

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  text-align: justify;  
  -moz-text-align-last: center; /* Code for Firefox */
  text-align-last: center;
}
.carousel-indicators {
  bottom: 30%;
  left: 75%;
  right: 0%;
  display: table-cell;
  text-align: center;
  float: none;
}

.carousel-indicators li {
  cursor: pointer;
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
  background-color: #10A399;
}

.carousel-indicators .active {
  width: 17px;
  height: 17px;
  margin-bottom: 10px;
  background-color: #10A399;
  opacity: 0.5
}

.carousel-control-next {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  float: none;
  top: 80%;
}

.vert .carousel-item-next.carousel-item-left, .vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next, .vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev, .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/*---------------------main ----------------------*/

.background {
  background-image: url("../img/hackathon_img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.text-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 24vh;
  color: white;
}

/*-----------------animation-----------*/

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}

#button {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

#button:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.mobile-back {
  background-image: url("../img/hackathon_img/Hackathon-20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.3) !important;
  position: fixed;
  z-index: 100000;
  width: 100%;
}

.nav-link {
  padding-right: 47px !important;
}

.navdown {
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 0px;
}

.nav-link-down {
  color: #6D6D6D !important;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  text-decoration: none !important;
}

.active-link {
  background-color: #10A399 !important;
}

/*-------------SIDEBAR----------------*/

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}

/* The navigation menu links */

.sidebar a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.3s;
  text-align: left;
  font-weight: bold;
}

/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-right: 25px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.holder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100;
  height: 100;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.vl {
  border-left: 1px solid green;
  height: 240px;
  position: absolute;
  left: 30%;
  margin-left: -3px;
}

.vl1 {
  border-left: 1px solid green;
  height: 240px;
  position: absolute;
  left: 55%;
  margin-left: -3px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-left: 3px;
  position: absolute;
  bottom: 20%;
  margin-left: 3px;
  margin-bottom: 10%;
  border-bottom: 20%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  color: white;
  background-color: white;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.footer ul {
  list-style: none outside none;
  margin: 0;
  margin-bottom: 2.5%!important;
  padding-right: 1px;
  text-align: center;
  overflow: hidden;
}

.footer li a {
  text-decoration: none;
  margin: 0 3.8%;
  float: left;
  color: #595959 !important;
}

.social:hover {
  opacity: 0.6;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .container {
    font-size: 60% !important;
  }
  .mobile .container .col-lg-2 {
    height: 100px !important;
    padding-top: 8% !important;
  }
  .mobile .container .col-lg-2 img {
    width: 50px !important;
  }
  .caption {
    margin-top: 45% !important;
  }
  .heading {
    font-size: 300% !important;
  }
  .caption p {
    font-size: 150% !important;
  }
}

@media (max-width: 600px) and (min-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .container {
    font-size: 80% !important;
  }
  .mobile .container .col-lg-2 {
    padding-top: 10% !important;
  }
}

@media (max-width: 768px) and (min-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .container {
    font-size: 100% !important;
  }
  .mobile .container .col-lg-2 {
    padding-top: 9% !important;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .featurette-image {
    padding-top: 5% !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .spi {
    display: none;
  }
  .calendar-home {
    display: none;
  }
  .calendar-mobile {
    display: block;
  }
  .spi-footer img {
    width: 150px !important;
    margin-top: 6% !important;
  }
  .carousel-caption {
    bottom: 1rem !important;
  }
  .footer ul {
    padding: 0!important;
  }
  .footer li a {
    float: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .footer li {
    margin-bottom: 2% !important;
  }
  .content_to_hide {
    display: none;
  }
  .btn {
    width: 80% !important;
  }
  .carousel-control-next {
    top: 60% !important;
  }
  .social_mobile {
    display: block;
  }
  .social_desktop {
    display: none;
  }
  .main_heading {
    font-size: 60% !important;
  }
  #pitchfests_heading {
    font-size: 400% !important;
  }
}

@media (max-width: 600px) and (min-width: 480px) {
  .carousel-control-next {
    top: 90% !important;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-control-next {
    top: 90% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (max-width:768px) and (min-width:600px) {
  .spi {
    display: none;
  }
  .content_to_hide {
    display: none;
  }
  .carousel-control-next {
    top: 80% !important;
  }
  .calendar-home {
    display: none;
  }
  .calendar-mobile {
    display: block;
  }
  .caption {
    margin-top: 25%!important;
  }
  .carousel-caption {
    bottom: 4rem !important;
  }
  .spi-footer img {
    width: 150px !important;
    margin-top: 6% !important;
  }
  .footer ul {
    padding: 0!important;
  }
  .footer li a {
    float: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .footer li {
    margin-bottom: 2% !important;
  }
  .social_mobile {
    display: block;
  }
  .social_desktop {
    display: none;
  }
}

@media (max-width:850px) and (min-width:769px) {
  .calendar-mobile {
    display: none;
  }
  .calendar-home {
    display: block;
  }
  .carousel-caption p {
    font-size: 138%!important;
  }
  .navbar-nav {
    font-size: 91%;
    margin-left: 0% !important;
  }
  .register-here {
    font-size: 100%;
  }
  .nav-link {
    padding-right: 0px !important;
    margin-right: 20px !important;
  }
  .footer li a {
    margin-right: 0% !important;
    font-size: 90% !important;
  }
  .social_mobile {
    display: none;
  }
  .social_desktop {
    display: block;
  }
  .text-caption h1 {
    font-size: 400% !important;
  }
  .text-caption p {
    font-size: 160% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media (max-width:992px) and (min-width:850px) {
  .navbar-nav {
    font-size: 100%;
    margin-left: 2% !important;
  }
  .register-here {
    font-size: 85%;
  }
  .nav-link {
    padding-right: 0px !important;
    margin-right: 30px !important;
  }
  .carousel-caption p {
    font-size: 150%!important;
  }
  .calendar-mobile {
    display: none;
  }
  .calendar-home {
    display: block;
  }
  .footer li a {
    margin-right: 0% !important;
    font-size: 90% !important;
  }
  .social_mobile {
    display: none;
  }
  .social_desktop {
    display: block;
  }
  .text-caption h1 {
    font-size: 430% !important;
  }
  .text-caption p {
    font-size: 180% !important;
  }
}

@media (max-width:1200px) and (min-width:993px) {
  .calendar-mobile {
    display: none;
  }
  .calendar-home {
    display: block;
  }
  .carousel-caption p {
    font-size: 178%!important;
  }
  .navbar-nav {
    font-size: 100%;
    margin-left: 30% !important;
  }
  .register-here {
    font-size: 100%;
  }
  .nav-link {
    padding-right: 5px !important;
    margin-right: 20px !important;
  }
  .footer li a {
    margin-right: 2.2% !important;
  }
  .social_mobile {
    display: none;
  }
  .social_desktop {
    display: block;
  }
}

@media (max-width:1300px) and (min-width:1200px) {
  .nav-link {
    margin-right: 20px !important;
    padding-right: 5px !important;
  }
  .calendar-mobile {
    display: none;
  }
  .calendar-home {
    display: block;
  }
  .social_mobile {
    display: none;
  }
  .social_desktop {
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  .calendar-mobile {
    display: none;
  }
  .calendar-home {
    display: block;
  }
  .social_mobile {
    display: none;
  }
  .social_desktop {
    display: block;
  }
}

.pitchfests_bg .col-lg-2 {
  text-align: center;
  padding-top: 4.5%;
  left: 0;
}

.pitchfests_bg {
  background-color: #10a399;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cities img {
  margin-left: 2%;
  margin-right: 2%;
}

#pitchfests_heading {
  text-align: center;
}

#time_img {
  width: 310px;
}

#final_hackathon {
  font-size: 500% !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

#chessboard_heading {
  font-size: 500% !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

/*.container{
  border: 1px solid red;
}

.col-lg-4{
  border: 2px solid green;
}

.col-sm-6{
  border: 2px solid green;
}

img{
  border: 3px solid red;
}*/

@media(min-width: 720px) {
  #time_img {
    width: 500px;
  }
  #final_hackathon {
    font-size: 400%;
  }
  #chessboard_heading {
    font-size: 350%;
  }
}

@media(min-width: 992px) {
  #pitchfests_heading {
    text-align: right;
  }
}